@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
}

.movieDetailsGrid {
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 4px;
}

@media (max-width: 300px) {
  .movieDetailsGrid {
    grid-template-columns: 100%;
  }
}
